obj/project.assets.json
obj/project.nuget.cache
obj/UserManagementAPI.csproj.nuget.dgspec.json
obj/UserManagementAPI.csproj.nuget.g.props
obj/UserManagementAPI.csproj.nuget.g.targets
obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
obj/Debug/net9.0/apphost.exe
obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
obj/Debug/net9.0/rjsmrazor.dswa.cache.json
obj/Debug/net9.0/rpswa.dswa.cache.json
obj/Debug/net9.0/staticwebassets.build.endpoints.json
obj/Debug/net9.0/staticwebassets.build.json
obj/Debug/net9.0/staticwebassets.build.json.cache
obj/Debug/net9.0/UserMana.72BC9F28.Up2Date
obj/Debug/net9.0/UserManagementAPI.AssemblyInfo.cs
obj/Debug/net9.0/UserManagementAPI.AssemblyInfoInputs.cache
obj/Debug/net9.0/UserManagementAPI.assets.cache
obj/Debug/net9.0/UserManagementAPI.csproj.AssemblyReference.cache
obj/Debug/net9.0/UserManagementAPI.csproj.CoreCompileInputs.cache
obj/Debug/net9.0/UserManagementAPI.csproj.FileListAbsolute.txt
obj/Debug/net9.0/UserManagementAPI.dll
obj/Debug/net9.0/UserManagementAPI.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net9.0/UserManagementAPI.genruntimeconfig.cache
obj/Debug/net9.0/UserManagementAPI.GlobalUsings.g.cs
obj/Debug/net9.0/UserManagementAPI.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net9.0/UserManagementAPI.MvcApplicationPartsAssemblyInfo.cs
obj/Debug/net9.0/UserManagementAPI.pdb
obj/Debug/net9.0/UserManagementAPI.sourcelink.json
obj/Debug/net9.0/UserManagementAPI.xml
obj/Debug/net9.0/ref/UserManagementAPI.dll
obj/Debug/net9.0/refint/UserManagementAPI.dll
bin/Debug/net9.0/appsettings.Development.json
bin/Debug/net9.0/appsettings.json
bin/Debug/net9.0/FluentValidation.DependencyInjectionExtensions.dll
bin/Debug/net9.0/FluentValidation.dll
bin/Debug/net9.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
bin/Debug/net9.0/Microsoft.AspNetCore.OpenApi.dll
bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/net9.0/Microsoft.EntityFrameworkCore.dll
bin/Debug/net9.0/Microsoft.EntityFrameworkCore.InMemory.dll
bin/Debug/net9.0/Microsoft.Extensions.Caching.Abstractions.dll
bin/Debug/net9.0/Microsoft.Extensions.Caching.Memory.dll
bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/net9.0/Microsoft.Extensions.Logging.Abstractions.dll
bin/Debug/net9.0/Microsoft.Extensions.Logging.dll
bin/Debug/net9.0/Microsoft.Extensions.Options.dll
bin/Debug/net9.0/Microsoft.Extensions.Primitives.dll
bin/Debug/net9.0/Microsoft.IdentityModel.Abstractions.dll
bin/Debug/net9.0/Microsoft.IdentityModel.JsonWebTokens.dll
bin/Debug/net9.0/Microsoft.IdentityModel.Logging.dll
bin/Debug/net9.0/Microsoft.IdentityModel.Protocols.dll
bin/Debug/net9.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
bin/Debug/net9.0/Microsoft.IdentityModel.Tokens.dll
bin/Debug/net9.0/Microsoft.OpenApi.dll
bin/Debug/net9.0/Swashbuckle.AspNetCore.Swagger.dll
bin/Debug/net9.0/Swashbuckle.AspNetCore.SwaggerGen.dll
bin/Debug/net9.0/Swashbuckle.AspNetCore.SwaggerUI.dll
bin/Debug/net9.0/System.IdentityModel.Tokens.Jwt.dll
bin/Debug/net9.0/UserManagementAPI.deps.json
bin/Debug/net9.0/UserManagementAPI.dll
bin/Debug/net9.0/UserManagementAPI.exe
bin/Debug/net9.0/UserManagementAPI.pdb
bin/Debug/net9.0/UserManagementAPI.runtimeconfig.json
bin/Debug/net9.0/UserManagementAPI.staticwebassets.endpoints.json
bin/Debug/net9.0/UserManagementAPI.xml
